
.terminal {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  display: block;
  margin: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 30px;
  clear: both;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.terminal-body {
    padding: 5px 10px;
    height: 275px;
    overflow-y: auto;
    word-break: normal;
    background-color: #000;
    color: #fff;
}

.terminal-body #shell_output {
    margin: 5px 0 5px 0;
}

.terminal-title-bar {
  padding: 5px 0;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid; }

.terminal .prompt {
    color: #ff00df;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}