@font-face {
    font-family: 'dengxian';
    src: url('../fonts/font.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    background: #fff;
    color: #333;
    min-height: 100%;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

body,
html {
    font: 300 1em/1.65 'dengxian', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', 'HanHei SC', 'Arial';
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

blockquote {
    border-left: 1px solid #1abc9c;
    color: #999;
    font-weight: 300;
    margin: 1em 3em 1em 2em;
    padding-left: 1em;
    position: relative
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

@media only screen and ( max-width: 640px) {
    blockquote {
        margin: 1em 0
    }
    .tip {
        display: none;
    }
}

acronym,
abbr {
    border-bottom: 1px dotted;
    font-variant: normal
}

abbr {
    cursor: help
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 400
}

ul,
ol {
    list-style: none
}

caption,
th {
    text-align: left
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

a {
    color: #1abc9c
}

q:before,
q:after {
    content: ''
}

:root sub,
:root sup {
    vertical-align: baseline
}

a:hover {
    text-decoration: none
}

.typo a {
    border-bottom: 1px solid #1abc9c
}

.typo a:hover {
    border-bottom-color: #555;
    color: #555
}

.typo a:hover,
ins,
a {
    text-decoration: none
}

u,
.typo-u {
    text-decoration: underline
}

mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    margin: 0 5px;
    padding: 2px
}

pre,
code,
pre tt {
    font-family: Courier, 'Courier New', monospace
}

pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    display: block;
    -webkit-overflow-scrolling: touch;
    padding: 1em 1.5em
}

hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    height: 10px;
    margin-bottom: 0.8em
}

small,
.typo-small,
figcaption {
    color: #888;
    font-size: 0.9em
}

strong,
b {
    color: #000;
    font-weight: 700
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.textwrap,
.textwrap td,
.textwrap th {
    word-break: break-all;
    word-wrap: break-word
}

.textwrap-table {
    table-layout: fixed
}

.typo p,
.typo pre,
.typo ul,
.typo ol,
.typo dl,
.typo form,
.typo hr,
.typo table,
.typo-p,
.typo-pre,
.typo-ul,
.typo-ol,
.typo-dl,
.typo-form,
.typo-hr,
.typo-table,
blockquote {
    margin-bottom: 1.2em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    line-height: 1.35
}

.typo h1,
.typo h2,
.typo h3,
.typo h4,
.typo h5,
.typo h6,
.typo-h1,
.typo-h2,
.typo-h3,
.typo-h4,
.typo-h5,
.typo-h6 {
    line-height: 1.35;
    margin-top: 1.2em;
    margin-bottom: 0.6em
}

.typo h1,
.typo-h1 {
    font-size: 2em
}

.typo h2,
.typo-h2 {
    font-size: 1.8em
}

.typo h3,
.typo-h3 {
    font-size: 1.6em
}

.typo h4,
.typo-h4 {
    font-size: 1.4em
}

.typo h5,
.typo h6,
.typo-h5,
.typo-h6 {
    font-size: 1.2em
}

.typo ul,
.typo-ul {
    list-style: disc;
    margin-left: 1.3em
}

.typo ol,
.typo-ol {
    list-style: decimal;
    margin-left: 1.9em
}

.typo li ul,
.typo li ol,
.typo-ul ul,
.typo-ul ol,
.typo-ol ul,
.typo-ol ol {
    margin-bottom: 0.8em;
    margin-left: 2em
}

.typo li ul,
.typo-ul ul,
.typo-ol ul {
    list-style: circle
}

.typo table th,
.typo table td,
.typo-table th,
.typo-table td,
.typo table caption {
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 1em
}

.typo table th,
.typo-table th {
    background: #fbfbfb
}

.typo table thead th,
.typo-table thead th {
    background: #f1f1f1
}

.typo-input,
.typo-textarea {
    -webkit-appearance: none;
    border-radius: 0
}

.typo table caption {
    border-bottom: none
}

.typo-em,
.typo em,
legend,
caption {
    font-weight: inherit
}

.typo-em,
[class*="link-"] {
    position: relative
}

[class*="link-"] {
    display: inline-block;
    line-height: 1;
    outline: none;
    text-decoration: none
}

.link-mallki {
    color: #fff;
    overflow: hidden;
    -webkit-transition: color .5s .25s;
    transition: color .5s .25s
}

.link-kumya {
    line-height: 1;
    overflow: hidden;
    padding: 10px 10px 0
}

.link-kumya,
.link-kumya:hover {
    color: #659FD9
}

.horizon {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

.avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.typo img {
    max-width: 100%
}

.link-mallki::before {
    background: #fff;
    content: '';
    height: 2px;
    left: 0;
    margin: -3px 0 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%
}

.link-mallki span {
    height: 50%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.link-kumya::after {
    background: #659FD9;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(101%, 0, 0);
    transform: translate3d(101%, 0, 0);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
    z-index: -1
}

.link-kumya span {
    display: block;
    position: relative
}

.link-mallki span::before {
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    width: 100%
}

.link-mallki span::before,
.link-kumya span::before {
    color: #fff;
    content: attr(data-letters);
    left: 0;
    position: absolute
}

.link-kumya span::before {
    overflow: hidden;
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    white-space: nowrap;
    width: 0
}

.typo-em:after {
    content: "・・・・・・・・・・・・・・・・・・・・・・";
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0.65em;
    white-space: nowrap;
    width: 100%
}

.link-mallki:hover {
    color: transparent;
    -webkit-transition: none;
    transition: none
}

.link-mallki:hover::before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.link-mallki span:nth-child(2) {
    top: 50%
}

.link-kumya:hover::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.link-mallki span:first-child::before {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.link-mallki span:nth-child(2)::before {
    bottom: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.link-mallki:hover span::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
}

.link-kumya:hover span::before {
    width: 100%
}

html,
body,
#wrapper {
    height: 100%
}

.section {
    min-height: 100%
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 5% 30px 25px;
    width: 100%
}

.wrapper,
.icon {
    position: relative
}

.icon {
    vertical-align: middle;
    width: 2em
}

[class*="btn-"],
.btn {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 20px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.btn-success {
    background: #fff;
    color: #222
}

.pay-tips {
    background: #34495e;
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    padding: 4px
}

.speakers-list,
.sponsorsList {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.wrapper h3 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center
}

.speakers-list li,
.sponsorsList li {
    margin-bottom: 3rem;
    text-align: center;
    width: 22%
}

.wrapper h3 small {
    color: rgba(255, 255, 255, .6);
    display: block;
    font-size: 16px;
    padding: 10px 0
}

[class*="btn-"]:hover,
.btn:hover {
    background: #34495e;
    border-color: #34495e;
    color: #fff
}

#nav {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    position: fixed;
    right: 2em;
    top: 30%;
    z-index: 100
}

#nav,
#logo {
    text-align: center
}

#logo {
    font-size: 20px;
    margin-bottom: 50px;
    white-space: nowrap
}

#logo,
.page,
#about {
    color: rgba(255, 255, 255, .9)
}

.page,
#about {
    align-items: center;
    background: linear-gradient(to bottom, rgba(63, 56, 56, 0.8), rgba(63, 56, 56, 0.4)), url(../image/main_bg2.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10% 50px;
    text-align: center;
}

#about,
.page,
#action {
    position: relative
}

#action {
    padding-top: 30px;
    z-index: 2
}

#nav li {
    line-height: 1;
    margin: 0 4px;
    padding: 10px 0;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    width: 1.3em
}

#nav a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
}

#logo a {
    display: inline-block;
    font-size: 60px;
    margin: 30px 0 20px
}

#speakers table {
    width: 100%
}

#speakers td {
    color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
    vertical-align: top
}

#speakers img {
    display: block;
    margin: 0 auto 20px;
    max-width: 90%
}

#speakers b {
    color: #fff;
    font-weight: 400
}

#about .center {
    position: static
}

#about .icon {
    top: -2px
}

#about .typo-p {
    font-size: 18px;
    margin: 0 auto 30px;
    max-width: 486px;
    text-align: left
}

#action .btn {
    margin: 0 10px 6px
}

#speakers .icon {
    top: -2px;
    width: .7em
}

#nav li:hover {
    border-color: #3C6493
}

#speakers td:hover .avatar {
    border-radius: 10px;
    cursor: pointer
}

.speakers-list li img,
.speakers-list li:nth-child(2n+1) img {
    border-top-left-radius: 59%;
    border-top-right-radius: 52%;
    border-bottom-left-radius: 59%;
    border-bottom-right-radius: 56%;
    -webkit-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg)
}

.speakers-list li img:hover,
.speakers-list li:nth-child(2n+1) img:hover {
    border-top-left-radius: 51%;
    border-top-right-radius: 67%;
    border-bottom-left-radius: 64%;
    border-bottom-right-radius: 56%;
    cursor: pointer;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg)
}

.schedule-box {
    margin: 100px auto;
    max-width: 500px
}

.schedule-list {
    padding-left: 90px
}

.sponsors-list td {
    padding-bottom: 60px;
    text-align: center
}

.schedule-list>li {
    border-left: 8px solid #f7df1e;
    padding: 0 0 40px 20px;
    position: relative
}

.sponsorsList li img {
    max-width: 150px
}

.schedule-list li time {
    color: #999;
    font-size: 14px;
    left: -125px;
    position: absolute;
    text-align: right;
    top: 16px;
    width: 100px
}

.schedule-list li h3 {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left
}

.schedule-list li h4,
.introduce {
    color: #999;
    font-size: 14px
}

.schedule-list li h3 a {
    margin-right: 1rem
}

.schedule-list li h3 img {
    vertical-align: middle
}

.sponsors-list td .gold-sponsors {
    color: #bdb099
}

.schedule-list li.walk {
    border-left: 8px dotted #666
}

.schedule-list li.end {
    padding-bottom: 10px
}

.schedule-list li:before {
    background-color: #f7df1e;
    content: "";
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 8px
}

.speakers-list li:nth-child(3n+2) img {
    border-top-left-radius: 84%;
    border-top-right-radius: 94%;
    border-bottom-left-radius: 72%;
    border-bottom-right-radius: 83%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg)
}

.speakers-list li:nth-child(5n+3) img {
    border-top-left-radius: 73%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 82%;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg)
}

.speakers-list li:nth-child(7n+5) img {
    border-top-left-radius: 93%;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 78%;
    border-bottom-right-radius: 85%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

.speakers-list li:nth-child(11n+7) img {
    border-top-left-radius: 68%;
    border-top-right-radius: 68%;
    border-bottom-left-radius: 53%;
    border-bottom-right-radius: 83%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

.schedule-list li.walk::before {
    background-color: transparent
}

.schedule-list li.start time {
    top: -6px
}

.schedule-list li.end time,
.schedule-list li.walk time {
    top: 22px
}

.schedule-list li.start:before,
.schedule-list li.end:before {
    background-color: #222;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 12px;
    left: -13px;
    position: absolute;
    width: 12px
}

.schedule-list li.start:before {
    background-color: #fff;
    top: -4px
}

.schedule-list li.end:before {
    bottom: 0
}

.speakers-list li:nth-child(3n+2) img:hover {
    border-top-left-radius: 69%;
    border-top-right-radius: 64%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 53%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
}

.speakers-list li:nth-child(5n+3) img:hover {
    border-top-left-radius: 73%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 82%;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg)
}

.speakers-list li:nth-child(7n+5) img:hover {
    border-top-left-radius: 53%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 68%;
    border-bottom-right-radius: 85%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

.speakers-list li:nth-child(11n+7) img:hover {
    border-top-left-radius: 58%;
    border-top-right-radius: 98%;
    border-bottom-left-radius: 83%;
    border-bottom-right-radius: 78%;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg)
}

#location {
    background: #fff
}

#allmap {
    height: 500px;
    margin: 0 auto;
    width: 100%
}

#sponsors {
    background: #f5f5f5
}

#titleSponsors {
    min-height: auto
}

#schedule {
    background: #222;
    color: #fff;
}

#location h3,
#sponsors h3,
#titleSponsors h3 {
    color: #333
}

#sponsors table {
    width: 100%
}

#sponsors img {
    max-width: 150px
}

#titleSponsors p {
    text-align: center
}

#location h3 small,
#sponsors h3 small {
    color: #999
}

#titleSponsors p img {
    max-width: 100%
}

.schedule-list li.start h3,
.schedule-list li.start h4,
.schedule-list li.start .introduce {
    position: relative;
    top: -4px
}

.BMap_bubble_title {
    border-bottom: 2px solid #000;
    margin-bottom: 4px;
    padding-bottom: 4px
}

.schedule-list li.end h3,
.schedule-list li.walk h3 {
    position: relative;
    top: 23px
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 5rem;
    }
    .wrapper h3,
    #logo a {
        font-size: 20px
    }
    table td {
        font-size: 0;
        padding: 10px!important
    }
    table img {
        max-width: 100%!important
    }
    table td b {
        font-size: 12px
    }
    .sponsorsList li {
        width: 100%
    }
    #nav,
    .tip,
    #speakers,
    #sponsors {
        display: none
    }
    #allmap {
        width: 80%
    }
    #about .typo-p {
        font-size: 14px
    }
}

.white-text {
    color: #fff;
}

.wave-svg {
    transform: translate(0, -96%)
}

.speakers-list li {
    width: 30%
}

#about {
    background: linear-gradient(to bottom, rgba(63, 56, 56, 0.6), rgba(63, 56, 56, 0.4)), url(../image/main_bg.jpg);
    background-size: cover;
    background-position: center
}

#workshop {
    background-color: #41b883;
    color: #fff
}

#workshop h3 {
    color: #00C7EB
}

@media screen and (max-width: 1000px) {
    .pay-tips {
        display: none
    }
    .speakers-list li {
        width: 100%
    }
    #speakers,
    #sponsors {
        display: block
    }
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 22pt;
}

.typed {
    flex-direction: row;
}

.wrap .content,
.wrap h4 {
    max-width: 900px;
}

.split {
    background-color: #f5f5f5;
}

.wrap .end {
    line-height: 60pt;
    margin-top: 10%;
    text-align: center;
}

.copyright {
    font-size: 12pt;
    text-align: center;
    margin-top: 17%;
}

.tip {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
}

.tip .key {
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.wrap .user {
    text-align: right;
    line-height: 0px;
}

.wrap .msg:before {
    content: '“';
    font-size: 80pt;
    line-height: 0px;
    margin-left: -43px;
}

.wrap .user:after {
    content: '”';
    font-size: 80pt;
    margin-right: -50px;
}