/*样式设置*/

@title-size: 30pt;
@orange: #c0392b;
@red: #e06665;
@white: #fff;
@vgreen: #4fc08d;
@dark: #222;
@vblue: #313640;
@main-text: #2c3e50;
@quote-color: #f66;
@shadow-color: #f8f8f8;
.white-text {
    color: @white;
}

.red-text {
    color: @red;
}


/* 背景颜色 */

.red-section {
    background: @orange;
    .white-text;
}

.green-section {
    background-color: @vgreen;
    .white-text;
}

.dark-section {
    background-color: @dark;
    .white-text;
}

.blue-section {
    background-color: @vblue;
    .white-text;
}

.split {
    background-color: #f5f5f5;
}


/* 文本对齐及样式 */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.thin-text {
    font-weight: 100;
}


/* 图片页背景 */

.page,
.about {
    background-color: '#222';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10% 50px;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(63, 56, 56, 0.6), rgba(63, 56, 56, 0.4)), url(../image/main_bg.jpg);
    background-size: cover;
    background-position: center;
    .white-text;
}


/* 导航样式 */

#nav {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    position: fixed;
    right: 2em;
    top: 30%;
    z-index: 100;
    text-align: center;
    li {
        line-height: 1;
        margin: 0 4px;
        padding: 10px 0;
        transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        width: 1.3em;
        &:hover {
            border-color: #3C6493
        }
    }
    a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        font-size: 15px;
    }
}


/*START: 提示信息：按键、计时器、页码 */

.tip-text {
    position: absolute;
    font-size: 13px;
    color: #fff;
}

.tip,
.page-no {
    .tip-text;
    right: 10px;
}

.tip-wrapper {
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.tip {
    top: 10px;
    .key {
        .tip-wrapper;
    }
}

.clock {
    .tip-text;
    left: 10px;
}

.page-no,
.clock {
    bottom: 10px;
    .tip-wrapper;
}


/*END: 提示信息：按键、计时器、页码 */


/* slide 内页样式 */

.slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 22pt;
    h4 {
        .thin-text;
        padding-bottom: 10px;
        font-size: @title-size;
    }
    .content {
        max-width: 90%;
        .text-left;
        div,
        p {
            margin: 20px 0;
        }
    }
    a {
        color: @vgreen;
        font-weight: 600;
    }
    strong {
        color: @vgreen;
    }
    blockquote {
        position: relative;
        border-left: 4px solid @quote-color;
        background-color: @shadow-color;
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        color: @main-text;
        padding: .5em 1em;
        margin: 0;
        font-size: 16pt;
        &:before {
            content: '!';
            background-color: @quote-color;
            position: absolute;
            top: 14px;
            left: -12px;
            color: @white;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
            font-size: 14px;
        }
        ul,
        ol {
            padding-left: 1em;
            li{
                padding:5px 0;
            }
        }
    }
    img {
        max-width: 100%;
        margin: 15px 0px;
        background: rgba(255, 255, 255, 0.12);
        border: 4px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    font-size: 20pt;
}