@title-size: 30pt;
.section-title {
    font-size: @title-size;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.wrap {
    h4 {
        font-size: @title-size;
        padding-bottom: 20px;
    }
    .text-left;
}

@red: #c0392b;
@white: #fafafa;
@vgreen: #4fc08d;
@dark: #222;
@vblue: #313640;
.white-text {
    color: @white;
}

.red-section {
    background: @red;
    .white-text;
}

.green-section {
    background-color: @vgreen;
    .white-text;
}

.dark-section {
    background-color: @dark;
    .white-text;
}

.blue-section {
    background-color: @vblue;
    .white-text;
}

.tip-text {
    position: absolute;
    font-size: 13px;
    color: #fff;
}

.tip,
.page-no {
    .tip-text;
    right: 10px;
}

.clock {
    .tip-text;
    left: 10px;
}

.tip .key,
.page-no,
.clock {
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.tip {
    top: 10px;
}

.page-no,
.clock {
    bottom: 10px;
}

.wrap {
    .content {
        div,
        p {
            margin: 20px 0;
        }
    }
    strong {
        color: @vgreen;
    }
}