.typed-cursor {
    opacity: 1;
    font-weight: bold;
    padding-left: 5px;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}
